{% extends "bootstrap/base.html" %}

{% block content %}
<form action="{{ url_for('addrec') }}" method="POST">
   <center> <h2>Client's Information</h2> </center>

   <center> ClientID<br>
   <input type="text" name="ClientID" /></br> </center>
   
   <center> ClientName<br>
   <input type="text" name="ClientName" /></br> </center>

   <center> ClientPhone<br>
   <input type="text" name="ClientPhone" /></br> </center>

   <center>ClientWatch<br>
   <input type="text" name="ClientWatch" /><br> </center>

   <center> TotalSpent<br>
   <input type="text" name="TotalSpent" /><br>
   <br>
   <input type="submit" value="Add To Database" /><br> </center>
</form>

<p>
   <center> <a href="/home">Return to Dashboard</a> </center>
</p>

</body>

</html>
{% endblock %}