<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <!-- <h3>MySQL Example</h3> -->
    <p>
        <center> <a href="/enternew">Add A New Client!</a> </center>
    </p>
    <p>
        <center><a href="/list">List Client Information</a> </center>
    </p>

    <p>
        <center><a href="/">Back to Main Page</a> </center>
    </p>
    
</body>

</html>